
/* Style de base pour les articles */
body{
  background-color: #333;  
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  background-color: #333;  /* Couleur de fond du bandeau */
  padding: 20px;  /* Espacement interne du bandeau */
  justify-content: space-between;
  align-items:center;
  text-align: center;
}
.header a{
  color: #fff;  /* Couleur du texte */
  font-size: 36px;  /* Taille de la police */
  text-decoration:none; 
}
.header img {
  width: 50;
  height: 50px;
  margin-bottom:10px;
}
.headerRight{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.headerRight{
  display:flex;
  flex-direction:column;
  align-items:center;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 20px;
}

.header h1 {
  margin: 0;
}

.headerRight {
  display: flex;
  align-items: center;
}

.headerRight img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
#cliquable{
  text-decoration: none;
}

.texteArticle{
  color:black;
}


.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 1em;
  background-color: rgb(68, 68, 68);  
  box-sizing: border-box;
}

/* Style pour l'image de l'article */
.article img {
  margin: 1em;
  width: 200px;

}

/* Style pour les informations de l'article */
.article div {
  text-align: center;
  margin: 0.5em;
}

.headerRight button,.article button {
  /* Modifiez les propriétés CSS suivantes pour styliser votre bouton */
  margin: 1em;
  background-color: rgb(116, 116, 117);
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  /* Ajoutez une animation au bouton */
  transition: all 0.3s ease-in-out;
}

.headerRight button:hover,.article button:hover {
  /* Modifiez les propriétés CSS suivantes pour ajouter une animation au survol du bouton */
  background-color: rgb(38, 38, 38);
  transform: scale(1.1);
}


/* Style pour la grille d'articles */
.article_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}