body {
  background-color: #333;  
  font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color:aliceblue;
    font-size: 36px;  /* Taille de la police */
  }
  
  #button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  #manage-cd-button{
    width: 200px;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  #logout-button {
    width: 200px;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ee4025;
    color: white;
    cursor: pointer;
  }
  
  #manage-cd-button:hover {
    background-color: #26762a;
  }
  #logout-button:hover {
    background-color: #ae2525;
  }
  