body {
    background-color: #333;  
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  p {
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    font-size: 16px;
  }
  
  form {
    width: 500px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: bold;
    color:aliceblue;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color:rgb(0, 0, 0);
  }
  
  input[type="submit"] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  #boutonRetour {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(132, 131, 131);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
    #boutonRetour:hover {
    background-color: #444;
  }
    