.header {
    display: flex;
    background-color: #333;  /* Couleur de fond du bandeau */
    padding: 20px;  /* Espacement interne du bandeau */
    justify-content: space-between;
    align-items:center;
  }
  .header a{

    color: #fff;  /* Couleur du texte */
    font-size: 36px;  /* Taille de la police */
    text-decoration:none; 
  }
  .header img {
    width: 50;
    height: 50px;
    margin-bottom:10px;
}